<nav>
  <div class="navigation top">
    <div class="container">
      <div class="logo">
        <img src="assets/images/saf.png" class="img-responsive" alt="Icon" />
      </div>
      <ul class="nav-ul">
        <li><a href="#"> Personal </a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Mpesa</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Investor Relations</a></li>
        <li><a href="">Fraud Relations</a></li>
        <li><a href="">Fraud Awareness</a></li>
        <li><a href="">Media</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Customer services</a></li>
      </ul>
      <div class="hero-btns">
        <button class="nav-button">New customer</button>
        <button class="nav-button">Help</button>
      </div>
      <div class="further-left">
        <p>Allsites</p>
      </div>
      <div class="mobile-icon-navigators">
        <button>&#9776;</button>
      </div>
    </div>
  </div>
</nav>
