<p>home works!</p>

<div class="container-form">
  <form>
    <div class="input-group">
      <input
        type="text"
        name="firstName"
        id=""
        placeholder="Enter your first name.."
      />
    </div>
    <div class="input-group">
      <input
        type="text"
        name="lastName"
        id=""
        placeholder="Enter your first name.."
      />
    </div>
    <div class="input-group">
      <input type="email" name="email" id="" placeholder="Enter your email.." />
    </div>
    <div class="input-group">
      <input
        type="password"
        name="password"
        id=""
        placeholder="Enter your password.."
      />
    </div>
    <div class="input-group">
      <input
        type="password"
        name="confirmPassword"
        id=""
        placeholder="Confirm your password.."
      />
    </div>

    <div class="input-group">
      <button type="submit">SUBMIT</button>
    </div>
  </form>
</div>
