<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="" class="logo-icon">Enter</a>
    </div>

    <nav class="navigation">
      <ul>
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="/about">About us</a>
        </li>
        <li>
          <a routerLink="/contact">Contact us</a>
        </li>
        <li>
          <a routerLink="/services">Services</a>
        </li>
        <li>
          <a routerLink="/alumni">Alumni</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
